:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
}
.home-section {
padding: 60px 0;
background:
  linear-gradient(rgba(254, 248, 255, 0), rgba(255, 255, 202, 0.242)),
  url('../src/assets/img/pattern-bg.svg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}
.logo-image {
  width: 180px;
  height: auto;
}
.mainline {
  font-size: 55px;
  font-family: Geist;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainpara {
  font-size: 18px;
    font-family: Geist;
    color: #434343;
    margin-bottom: 30px;
    font-weight: 500;
}
.threedots {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}
.red, .yellow, .green {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}
.red {
    background-color: #ff605c;
}
.yellow {
    background-color: #ffbd44;
}
.green {
    background-color: #00ca4e;
}
.startedbtn{
    background-color: #000;
    color: #fff;
    font-weight: 500;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    transition: .5s ease-in-out;
    font-family: Geist;
}
.startedbtn:hover{
    background-color: #434343;
    color: #fff;
    text-decoration: none;
}
.learn-more{
    color: #000;
    font-weight: 500;
    padding: 12px 24px;
    border: 2px solid #000;
    border-radius: 15px;
    text-decoration: none;
    transition: .5s ease-in-out;
    font-family: Geist;
}
.learn-more:hover{
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
.topbar {
  background-color: #1b70bb;
  background: linear-gradient(135deg, #1b70bb, #4fc3f7);padding: 12px 0;  
}
.topbar p{
  color: #fff;
    font-size: 17px;
    font-family: 'Geist';
    font-weight: 400;
} 
