:root {
  font-family: Sora;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}

.home-section {
  padding: 60px 0;
  background: url('../src/assets/img/pattern-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.logo-image {
  width: 160px;
  height: auto;
}

.mainline {
  font-size: 55px;
  font-family: Sora;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 75px;
}

.mainpara {
  font-size: 18px;
  font-family: Sora;
  color: #434343;
  margin-bottom: 30px;
  font-weight: 500;
}

.threedots {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.red,
.yellow,
.green {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.startedbtn {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  padding: 12px 24px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  transition: .5s ease-in-out;
  font-family: Sora;
  transition: 1s ease all;
}

.startedbtn:hover {
  background-color: #313131;
  color: #fff;
  text-decoration: none;
}

.learn-more {
  color: #000;
  font-weight: 500;
  padding: 12px 24px;
  border: 1px solid #000;
  border-radius: 15px;
  text-decoration: none;
  transition: .5s ease-in-out;
  font-family: Sora;
}

.topbar {
    background: #9e6eff;
    padding: 7px 0;
}

.topbar p {
  color: #fff;
  font-size: 16px;
  font-family: Sora;
  font-weight: 400;
}

.btngroup {
  display: flex;
  gap: 15px;
}

/* .btngroup .loginbtn,
.btngroup .signupbtn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Geist;
  font-weight: 500;
} */

.btngroup .loginbtn {
  text-decoration: none;
  color: #000;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Sora;
  font-weight: 500;
  border: 1px solid #000;
}

.btngroup .signupbtn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Sora;
  font-weight: 500;
}

.navbar {
  background-color: #fff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  padding-left: 50px !important;
}

.nav-link {
  font-size: 16px !important;
  font-family: Sora;
  color: #000 !important;
  font-weight: 500 !important;
  padding: 15px !important;

}

@media screen and (max-width: 992px) {
  .topbar p {
    font-size: 14px;
  }

  .navbar-nav {
    padding-left: 0px !important;
  }

  .nav-link {
    padding: 15px 0 !important;
  }

  .btngroup {
    margin-top: 15px;
  }
}

.circleheading {
  position: relative;
  display: inline-block;
  z-index: 1;
  color: #ff2f2f;
}

.circleheading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 110%;
  height: 110%;
  background-image: url('../src/assets/img/circle-heading.svg');
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.4;
}

.about-section {
  padding: 30px 0;
}

.about-section .dshboard {
  height: auto;
  max-width: 100%;
  will-change: width;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .about-section .badge{
    color: #742fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: Sora;
  }
  .about-section h2{
    font-size: 32px;
    font-family: Sora;
    font-weight: 700;
    margin-bottom: 10px;
  }
  /* .about-section h2 span{
    color: #3c3c3c;
  } */
  .about-section p{
    font-size: 17px;
    font-family: Sora;
    color: #434343;
    line-height: 28px;
  }
  .fourcard {
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .fourcard h2 {
    font-size: 27px;
    font-family: Sora;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: start;
  }
  .fourcard p {
    font-size: 16px;
    font-family: Sora;
    color: #434343;
    margin: 0;
    text-align: start;
  }
  .fourcard img {
    width: 40px;
    height: auto;
  }
.col-md-3:nth-child(1) .fourcard h2 {
  color: #ff2f2f;
}
.col-md-3:nth-child(2) .fourcard h2 {
  color: #ffb800;
}
.col-md-3:nth-child(3) .fourcard h2 {
  color: #00ca4e;
}
.col-md-3:nth-child(4) .fourcard h2 {
  color: #0066ff;
}
.footer-container{
  background-color: #1a1a1a;
    padding: 40px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.footer-container .row{
  padding: 20px 0;
  margin: 0 auto;
}
.footer-container h5{
    color: #0f0f0f;
  font-family: Sora;
    margin-bottom: 10px;
    font-size: 17px;
    letter-spacing: 1px;
}
.footer-container ul{
  list-style: none;
  padding: 0;
}
.footer-container ul li{
  margin-bottom: 5px;
}
.footer-container ul li a{
  color: #fff;
  text-decoration: none;
  font-family: Sora;
  cursor: pointer;
  font-size: 14px;
}
.footer-container .footer-logo{
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
.footer-container p{
    color: #4a4a4a;
    font-family: Sora;
    padding-right: 40px;
    font-size: 15px;
    line-height: 24px;
}
.footer-container .social-icons a{
  color: #fff;
  margin-right: 15px;
  font-size: 20px;
  text-decoration: none;
}
.footer-container .social-icons a:hover{
  color: #ff2f2f;
}

.cinematic-fill {
  font-family: Sora;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.25;
  max-width: 80vw;
  margin: 0 auto;

  --fill: 0%;

  background: linear-gradient(
    90deg,
    #000 0%,
    #000 var(--fill),
    #cfcfcf var(--fill),
    #cfcfcf 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Responsive */
@media (max-width: 768px) {
  .cinematic-fill {
    font-size: 2rem;
    max-width: 95vw;
  }
}

.about-text p{
  font-family: Sora;
  font-size: 17px;
  color: #434343;
  line-height: 28px;
  margin-top: 15px;
}

.stickycardssection {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.stickycardssection h2{
  font-family: Sora;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.25;
}

.stickycard {
  width: 100%;
  margin: 0 20px;
  box-sizing: border-box;
  background: #dedede;
  min-height: 400px;
  border-radius: 32px;
  position: sticky;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family : 'system-ui', sans-serif;
  font-size: 90px;
  font-weight: medium;
  color: #FFF;
  font-family: Sora;
}

.cardone {
  top: 50px;
  background: #6b04fd;
}
.cardtwo {
  top: 80px;
  background: #5a03d5;
}
.cardthree {
  top: 110px;
  background: #4b05ad;
}

.cardfour {
  top: 140px;
  background: #2c0076;
}
